<RuleGroup name="" groupRelation="or">
      <ProcessCreate onmatch="include">
        
        <Rule groupRelation="and" name="Suspicious Exec in Downloads">
            <Image condition="contains any">\Downloads\;\AppData\Local\Temp\</Image>
            <Image condition="end with">.exe</Image>
        </Rule>
        <Rule groupRelation="and" name="Suspicious Shell Spawn">
            <ParentImage condition="contains any">\Downloads\;\AppData\Local\Temp\</ParentImage>
            <Image condition="end with any">cmd.exe;powershell.exe;pwsh.exe</Image>
        </Rule>

        <Image condition="image">whoami.exe</Image>
        <Rule groupRelation="and" name="Admin Group Recon">
            <Image condition="end with">net.exe</Image>
            <CommandLine condition="contains">localgroup</CommandLine>
        </Rule>

        <Rule groupRelation="and" name="Suspicious Curl Download">
            <Image condition="image">curl.exe</Image>
            <CommandLine condition="contains"> -o </CommandLine>
        </Rule>

        <Rule groupRelation="and" name="UAC Bypass Prep (Reg Add)">
            <Image condition="end with">reg.exe</Image>
            <CommandLine condition="contains">add</CommandLine>
            <CommandLine condition="contains">ms-settings</CommandLine>
        </Rule>

        <Rule groupRelation="and" name="Fodhelper Abuse">
            <ParentImage condition="image">fodhelper.exe</ParentImage>
            <Image condition="end with any">cmd.exe;powershell.exe;rundll32.exe</Image>
        </Rule>

        <Rule groupRelation="and" name="Registry Key Cleanup">
            <Image condition="image">reg.exe</Image>
            <CommandLine condition="contains">delete</CommandLine>
            <CommandLine condition="contains">ms-settings</CommandLine>
        </Rule>

        <Rule groupRelation="and" name="Schtask Persistence SYSTEM">
            <Image condition="image">schtasks.exe</Image>
            <CommandLine condition="contains">/Create</CommandLine>
            <CommandLine condition="contains">/RU "SYSTEM"</CommandLine>
        </Rule>

      </ProcessCreate>
    </RuleGroup>